<ac-map id="my-map">
 <circles-editor></circles-editor>
   <!-- <div class="edit-buttons">
        <button mat-raised-button (click)="startDraw()">Create Circle</button>
        <button mat-raised-button (click)="saveCircle()">Save Circle</button>
       <button mat-raised-button (click)="editFromExisting()">Create Circle With Default</button>
        <button mat-raised-button (click)="toggleEnableEditing()">Toggle Disable Edit</button>
        <button mat-raised-button (click)="updateCircleManually()">Update Circle Manually</button> 
      </div> -->

    <!--  <ac-layer acFor="let circle of circles" [show]="true" [context]="this">
        <ac-circle-desc props="{
              position: circle.position,
              radius:circle.radius,
              material: Cesium.Color.GREEN,
              height: 0
          }"></ac-circle-desc>
      </ac-layer> -->
 </ac-map>