<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Covid19 Report</h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>

            <a mat-list-item [routerLink]="['/home']" routerLinkActive="active" (click)="sidenav.close()" > India Statewise </a>
            <a mat-list-item [routerLink]="['/in-district']" (click)="sidenav.close()"> India Districtwise </a>
            <a mat-list-item [routerLink]="['/world']"  (click)="sidenav.close()"> World </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>

